---
name: Rollback

on:
  workflow_dispatch:
    inputs:
      tag:
        description: Tag
        type: string

      env:
        description: Environment
        type: choice
        options: [homolog, sandbox]
        default: homolog

env:
  allowed_users: '["xpto", "jmborsani2"]'

jobs:
  setup:
    name: Setup
    if: ${{ contains(fromJSON(env.allowed_users), github.actor) }}
    uses: ./.github/workflows/workflow-call.yaml
    with:
      tag: ${{ inputs.tag }}
      env: "dev"
      app: "my-app"

